body {
  margin: 0;
  padding: 0;
}

.smiley__container {
  display: flex;
  flex-direction: column;
}

.btn__add {
  background: rgba(70, 155, 207);
  color: white;
  border: none;
  width: 100%;
  font-size: 50px;
  padding: 0;
}

.smiley__list {
  padding: 0;
  margin: 40px;
}

.smiley__item {
  display: inline;
  list-style: none;
  font-size: 80px;
  margin: 0 20px;
}

.happy {
  color: black;
  background: rgba(255, 205, 0);
  padding: 10px 30px;
  border-radius: 50%;
}

.sad {
  color: white;
  background: rgba(255, 77, 45);
  padding: 10px 30px;
  border-radius: 50%;
}

.calendar__container {
  padding: 50px;
}

.input__container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.btn__save {
  text-transform: uppercase;
  text-decoration: none;
  background: rgba(70, 155, 207);
  color: white;
  border: none;
  display: block;
  font-size: 25px;
  padding: 10px;
  border-radius: 4px;
  width: 100%;
}

.btn__cancel {
  text-transform: capitalize;
  text-decoration: none;
  background: white;
  color: grey;
  border: none;
  display: block;
  font-size: 25px;
  padding: 10px;
  border-radius: 4px;
  width: 100%;
}